* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;

  width: 100px;
  height: 100px;
}
.menu-button {
  display: flex;
  background-color: #626962;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #45a049;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 2px;
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
  border: 2px solid black;
  width: 500px;
  height: 30px;
  margin: 3px solid;
}

.search-bar button {
  padding: 8px 12px;
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background: white;
}
form input[type="submit"] {
  background-color: #626962;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  font-weight: bold;
}
.user-info img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

/*=========NAV==========*/

nav ul {
  margin-left: 2rem;
}

li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 1rem;
}

li img {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}

.home-logo,
.rock-logo,
.short-logo,
.abo-logo,
.bibli-logo,
.histo-logo,
.video-logo,
.horloge-logo,
.like-logo {
  width: 1.3rem;
}

.mainDivider {
  display: flex;
  align-items: center;
  height: 1.5rem;
}

.divider {
  content: "";
  height: 1px;
  width: 15rem;
  background-color: gray;
}
/*=========== MAIN==========*/

.video {
  border: 1px black solid; /*affichage des bodures
   pour positionnement*/
  display: inline-block;
}

/* .embedVideo {
  height: ;
  width: ;
} */

main {
  display: flex;
  flex-wrap: wrap;
}

/* ============ FOOTER ===========*/

footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
